@media only screen and (min-width: 600px){
    form {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (max-width: 599px){
    form {
        width: 90%;
        margin: auto;
    }
}

input[type="text"] {
    width: 100%;
}

.btn {
    width: 40%;
    margin-left: 5%;
    margin-top: 30px;
}