body{
    background-color: #F7F7F7;
}

h1{
    margin-left: 2.5%;
}

table *{
    transition: all 0.5s;
}

table{
    margin-top: 30px;
    margin-left: 2.5%;
    max-width: 95%;
    background-color: white;
}